# Ignore compiled Python files
*.pyc

# Ignore the __pycache__ directory
__pycache__/

# Ignore the .idea directory (if you're using PyCharm)
.idea/

# Ignore the virtual environment directory (if you're using venv)
venv/
